
h2{
	margin-bottom: 20px;
}
h3{ 
	font-weight: bold;
}


/****** Navigation ********/
.navbar{
	background-color: #e2d3bc; /*beige*/
	border-bottom: 2px solid #372F2F;
	border-radius: 0;
	padding: 10px 0 0 0;

}

.navbar-brand, .navbar-brand a:hover{
	text-decoration: none;

}
.navbar-brand h1{ /*FOOD LLC*/
	color: #000000; /*black*/
	margin:0;
	line-height: .75;
	}

.navbar-brand h1:hover{
	color: #C9595F; /*Red*/
}

.navbar-header button.navbar-toggle{ /* Collapsible Button*/
border: 2px solid #000000;
}

.navbar-header button.navbar-toggle:hover, .navbar-header button.navbar-toggle:focus {
	background-color: #dedada;
}

.navbar-header .navbar-toggle .icon-bar{ /*Lines on button*/
	background-color:#000000;
}

/*****Content*****/

.content-column{ /*Header and Paragraph columns */
		background-color: pink;
		padding: 15px;
		margin: 10px 0 10px 0;
}




/********RESPONSIVE DESIGN********/

/**Extra Small Devices Only (Mobile)**/

@media(max-width:767px){
	

	#collapsible-nav{
		border-top: 2px solid black;
		background-color:#dedada ;
	}

	#collapsible-nav li{ /*list of beef, chicken, sushi */
			font-size: 1.5em;
			text-align: center;
			border-bottom:2px solid black;
		}

	#collapsible-nav li:last-of-type{
		border:none;
	}

	#collapsible-nav li:hover{
		background-color:#bfbfbf;
	}

	#collapsible-nav li a{
		color:black;
	}

}

